.listaCompleta {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: stretch;
   justify-content: space-evenly;
   width: 100%;
   height: 40vw;
}

.participante {
   background-color: aliceblue;
   border-radius: 5px;
   margin: 1px;
   border: 1px dotted black;
   background-color: white;
   transition-property: background-color, color, border;
   transition-timing-function: linear;
   transition-duration: .08s;
   width: max(10em, 10%);
   height: 2.5em;
}

/* 
.participante:hover {
   background-color: red;
} */

.transformed-state {
   background-color: red;
   transition-property: background-color, border;
   transition-timing-function: linear;
   transition-duration: .08s;
}


.active {
   border: 1px solid brown;
   background-color: yellow;
   transition-property: background-color, border;
   transition-timing-function: linear;
   transition-duration: .01s;
}